<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.fcp">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_ScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="พยากรณ์ผลผลิตข้าวโพด">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ForecastActivity"
            android:label="พยากรณ์ผลผลิตข้าวโพด" />
        <activity
            android:name=".PlantActivity"
            android:label="วิธีการปลูกข้าวโพด" />
        <activity
            android:name=".PriceActivity"
            android:label="ราคารับซื้อข้าวโพด" />
        <activity
            android:name=".UseActivity"
            android:label="คู่มือการใช้งาน" />
        <activity android:name=".ResultActivity"
            android:label="ผลพยากรณ์ผลผลิตข้าวโพด">
        </activity>
    </application>

</manifest>